<% content_for :index do %>
    <%= '... with a name .com hipsters love' %>
<% end %>
<br><br>
<h1>All the World's Articles</h1>

<%= link_to 'Create an Article', new_article_path %>
<div id="wrapper">
<div id="tbody">
<table>
  <tr class="titles">
    <th>Title</th>
    <th>Author</th>
    <th>Body</th>
    <th>Created at</th>
    <th>Edits</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td class="td1"><%= article.title %></td>
    <td class="td2"><%= article.author %></td>
    <td class="td3"><%= article.body %></td>
    <td class="td4"><%= article.created_at.strftime("%a, %b. %d %Y") %></td>
    <td class="td5"><%= article.n_edited %></td>
    <td class="td6"><%= link_to 'Show', article, :title => 'Show' %></td>
    <td class="td7"><%= link_to 'Edit', edit_article_path(article), :title => 'Edit' %></td>
    <td class="td8"><%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete, :title => 'delete' %></td>
  </tr>
<% end %>
</table>
</div>
</div>
<br />
