<p id="notice"><%= notice %></p>

<%= link_to image_tag('icons/arrow_left.png') + 'list all articles', articles_path %>
<%= link_to image_tag('icons/email_edit.png') + 'edit', edit_article_path(@article) %>
<%= link_to image_tag('icons/delete.png') + 'delete', @article,:confirm => 'Are you for sure?', :method => :delete %>
<%= mail_to '', image_tag('icons/email.png') + 'email', :subject =>  @article.title, :body => request.url%>

<p>
  <%= @article.title %>
</p>

<p>
  <b>by </b>
  <%= @article.author %>
  <%= @article.n_edited %>
  <b> edits since </b>
  <%= @article.date.strftime("%b. %d. %Y") %>
</p>

<p>
  <%= @article.body %>
</p>

