%h1 Listing authors
%table
  %tr
    %th Name
    %th
    %th
    %th
  - @authors.each do |author|
    %tr
      %td= author.name
      %td= link_to image_tag('icons/zoom.png'), author, :title => 'show author'
      %td= link_to image_tag('icons/pencil.png'), edit_author_path(author), :title => 'edit article'
      %td= link_to image_tag('icons/weather_lightning.png'), author, :confirm => 'Are you sure?', :method => :delete, :title => 'delete author'
%br/
= link_to 'New Author', new_author_path, :title => 'create a new author'
