%p#notice= notice
%p#alert= alert
%p
  = will_paginate @games
%table
  %tr
    %th.name Name
    %th.rating Rating
    %th.date Date Created


  - @games.each do |game|
    %tr
      %td= game.name= game_name(game)
      %td= game.rating= game_rating(game)
      %td.date= game_date(game)