= form_for @game do |f|
  -if @game.errors.any?
    #error_explanation
      %h2= "#{pluralize(@game.errors.count, "error")} prohibited this game from being saved:"
      %ul
        - @game.errors.full_messages.each do |msg|
          %li= msg
.field
    = f.label :name
    = f.text_field :name
  
  .field
    = f.label :rating
    .radio_buttons
      - Game::RATINGS.each do |rating|
        = f.radio_button :rating, rating, :label => rating.humanize
        = rating.humanize
        %br
    .field

    = f.label :user_id
    = f.collection_select :user_id, User.all, :id, :first_name, :last_name, :prompt => 'Select a user', :selected => current_user.id
  .actions
    = f.submit 'Save'
