!!!
%html
  %head#header
    %title Articles
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = 'Articl.es'
  %br/
  = yield :index
  = yield :edit
  = yield :new
  = yield :show
  %body
    %ul.menubar
      %li= link_to "articles", articles_path, :title => "articles"
      %li= link_to "authors", authors_path, :title => "authors"
    = yield
