<!DOCTYPE html>
<html>
<head id="header">
  <title>Articles</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= 'Articl.es' %>
  <br>
  <%= yield :index%>
  <%= yield :edit%>
  <%= yield :new%>
  <%= yield :show%>
</head>

<body>
<ul class="menubar">
  <li><%= link_to "articles", articles_path %></li>
  <li><%= link_to "authors", "#" %></li>
</ul>
<%= yield %>

</body>
</html>
