%h1 Listing roles

%p#notice= notice
%p#alert= alert

%p
  = will_paginate @roles

%table
  %tr
    %th Name
    %th Description
    %th Number of Users
    %th
  - @roles.each do |role|
    %tr
      %td= link_to role.name, edit_admin_role_path(role)
      %td= role.description
      %td= role.users.count
      %td= link_to 'Destroy', admin_role_path(role), :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Role', new_admin_role_path