%h1 Listing games

%table
  %tr
    %th Name
    %th Rating
    %th User
    %th
    %th
    %th

  - @games.each do |game|
    %tr
      %td= game.name
      %td= game.rating
      %td= game.user_id
      %td= link_to 'Show', game
      %td= link_to 'Edit', edit_game_path(game)
      %td= link_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Game', new_game_path
