%p#notice= notice
%p#alert= alert
%h1
  My Gamez
= link_to 'add a new game', new_member_game_path
%p
  = will_paginate @games
%table
  %tr
    %th.name Nmae
    %th.rating Rating
    %th.date Date Created
    %th.buttons
  - @games.each do |game|
    %tr
      %td.name= position(game)
      %td.rating= kinkyness(game)
      %td.date= date(game) 