- content_for :show do
  = '... whats "Articl" in Spanish anyway?'
%br/
%br/
%p#notice= notice
= link_to image_tag('icons/arrow_left.png') + 'list all articles', articles_path, :title => 'back'
= link_to image_tag('icons/pencil.png') + 'edit', edit_article_path(@article), :title => 'edit'
= link_to image_tag('icons/weather_lightning.png') + 'delete', @article,:confirm => 'Are you for sure?', :method => :delete, :title => 'delete'
= mail_to '', image_tag('icons/email.png') + 'email', :subject =>  @article.title, :body => request.url, :title => 'email'
%p
  = @article.title
%p
  %b by
  = @article.author.name
  = @article.n_edited
  %b edits since
  = @article.created_at.strftime("%a, %b. %d %Y")
%p
  = @article.body
